/*==========================================================================*/
/*                     H O V E R    &    P C    O N L Y                     */
/*==========================================================================*/
@media screen and (min-width: 1921px) {
  .to-top {
    right: calc(50% - 960px + 20px);
  }
}
/* END screen-min:1921px */
@media screen and (min-width: 751px) {
  #lightboxOverlay,
  #lightbox {
    min-width: var(--content-width) !important;
    width: 100% !important;
  }
  .sp {
    display: none !important;
  }
  a:hover {
    text-decoration: none;
  }
  .to-top a:hover {
    opacity: 0.7;
  }
  .menu-hd-list {
    display: flex;
    align-items: center;
  }
  .menu-hd-list > li {
    font-size: 18px;
    font-weight: 600;
    position: relative;
  }
  .menu-hd-list > li > a {
    font-size: 18px;
    font-weight: 600;
    color: var(--body-color);
    height: 100%;
    text-decoration: none;
    position: relative;
  }
  .menu-hd-list > li > a:hover {
    color: var(--color-primary);
  }
  .menu-hd-list > li:hover {
    color: var(--color-primary);
  }
  .menu-hd-list > li:hover::before {
    border-color: var(--color-primary);
  }
  .menu-hd-list > li:not(:last-child) {
    --min-value: 30;
    --max-value: 50;
    --min-v: 1560;
    --max-v: 1920;
    --value: max(min(calc((var(--max-value) - var(--min-value)) * ((100vw - var(--min-v) * 1px) / (var(--max-v) - var(--min-v))) + calc(var(--min-value) * 1px)), calc(var(--max-value) * 1px)), calc(var(--min-value) * 1px));
    margin-right: var(--value);
  }
  .menu-hd-list .has-sub {
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .menu-hd-list .sub {
    width: 280px;
    text-align: center;
    background: var(--color-primary);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15px);
    pointer-events: none;
    top: 40px;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
  }
  .menu-hd-list .sub a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;
  }
  .menu-hd-list .sub li {
    position: relative;
  }
  .menu-hd-list .sub li:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  .menu-hd {
    margin-left: auto;
  }
  .menu-hd .has-sub:hover .sub {
    transform: translate(-50%, 0);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .menu-hd .sub > li {
    transition: all 0.2s;
  }
  .menu-hd .sub > li:hover {
    opacity: 0.8;
  }
  .sticky-sidebar .sticky-it:hover {
    transform: translateX(0);
  }
}
/* END screen-min:751px */
/* END screen-min:751px && screen-max:1919px */
/* END screen-min:751px && screen-max:1650px */
/* END screen-min:751px && screen-max:1440px */
/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/
@media screen and (min-width: 1px) and (max-width: 750px) {
  #wrapper {
    min-width: unset !important;
  }
  .pc {
    display: none !important;
  }
  * {
    column-gap: none !important;
    row-gap: none !important;
  }
  .inner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  #menu-toggle {
    display: block;
  }
  .to-top {
    bottom: 100px;
  }
  .to-top > a {
    width: 50px;
    height: 50px;
  }
  .to-top > a::before {
    inset: 4px 0 0;
    margin: auto;
    width: 10px;
    height: 10px;
  }
  .sp320,
  .sp375,
  .sp425 {
    display: block;
  }
  .open-nav {
    overflow: hidden;
  }
  .open-nav .menu-hd {
    transform: translateX(0);
    visibility: visible;
  }
  .menu-hd {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 30px 15px 300px;
    height: 100vh;
    width: 100%;
    z-index: 99;
    overflow-y: scroll;
    transform: translateX(100%);
    visibility: hidden;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    background: var(--color-primary);
  }
  .menu-hd-list {
    margin-bottom: 30px;
  }
  .menu-hd-list > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .menu-hd-list > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 20px 0;
  }
  .menu-hd-list .has-sub {
    border-bottom: unset;
    padding: 0;
  }
  .menu-hd-list .has-sub a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    position: relative;
    padding: 20px 0 20px 38px;
  }
  .menu-hd-list .has-sub a::before {
    content: "";
    position: absolute;
    display: block;
    border: unset;
    background-color: #fff;
    top: 28px;
    left: 20px;
    width: 10px;
    height: 1px;
    margin: unset;
  }
  .menu-hd-list .has-sub .sub {
    display: none;
  }
  .menu-hd-list .has-sub .sub li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    font-size: 14px;
  }
  .menu-hd-list .has-sub .label_sub {
    font-size: 16px;
    color: #fff;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .menu-hd-list .has-sub .label_sub.open::after {
    transform: rotate(0);
  }
  .menu-hd-list .has-sub .label_sub::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #fff;
    top: 48%;
    right: 15px;
    transform: rotate(0deg);
    transition: all 0.3s ease-in;
  }
  .menu-hd-list .has-sub .label_sub::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #fff;
    top: 48%;
    right: 15px;
    transform: rotate(90deg);
    transition: all 0.3s ease-in;
  }
  .wr-hd {
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
  }
  footer {
    margin-bottom: 60px;
  }
  .stick-ft {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 60px;
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
    z-index: 49;
    transition: all 0.2s;
  }
  .stick-ft.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .stick-ft .wr-sticky-ft {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stick-ft .link {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .stick-ft .stick-btn-ft {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #fff;
    background-color: var(--color-primary);
  }
  .stick-ft .stick-btn-ft:not(:last-child)::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    right: 0;
    top: 0;
    background-color: #fff;
    opacity: 0.5;
  }
  .stick-ft .stick-info-ft p {
    margin-bottom: 0;
    text-align: center;
  }
  .stick-ft .stick-tel-ft p {
    font-size: 10px;
    font-weight: normal;
    line-height: 1.4;
  }
  .stick-ft .stick-tel-ft p:first-child {
    font-size: 18px;
    font-weight: bold;
  }
  .stick-ft .stick-tel-ft .ic-tel {
    position: relative;
    padding-right: 20px;
  }
  .stick-ft .stick-tel-ft .ic-tel::before {
    content: "";
    position: absolute;
    display: block;
    background: url(../images/) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    top: -27px;
    bottom: 0;
    margin: auto;
    left: 0;
  }
  .stick-ft .stick-mail-ft p {
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
  }
  .stick-ft .stick-mail-ft .ic-mail {
    position: relative;
    padding-right: 33px;
  }
  .stick-ft .stick-mail-ft .ic-mail::before {
    content: "";
    position: absolute;
    display: block;
    background: url(../images/) no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
  }
}
/* END min-width:1px && screen-max:750px */
@media screen and (min-width: 375px) and (max-width: 750px) {
  .sp320 {
    display: none;
  }
}
/* END min-width:375px && screen-max:750px */
@media screen and (min-width: 425px) and (max-width: 750px) {
  .sp375 {
    display: none;
  }
}
/* END min-width:425px && screen-max:750px */
@media screen and (min-width: 475px) and (max-width: 750px) {
  .sp425 {
    display: none;
  }
}
/* END min-width:475px && screen-max:750px */
/* END min-width:525px && screen-max:750px */
/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/
/* EDGE  */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
}
/*==========================================================================*/
/*                             E N D   A L L                                */
/*==========================================================================*/

/*# sourceMappingURL=responsive.css.map */
