/*==========================================================================*/
/*                                M A I N                                   */
/*==========================================================================*/
.sp320,
.sp375,
.sp425 {
	display: none;
}
::-webkit-scrollbar {
	display: none;
}
#artists {
	main {
		background-color: #e7e2d3 !important;
	}
}
main {
	margin-top: 103px;
	position: relative;
	width: 100%;
	background-color: #333;
}

.iMainvisual {
	position: relative;
	height: calc(100vh - 100px);
	background-color: #e8da5d;
	background-image: url(../../images/bg-home.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	&--main {
		position: absolute;
		max-width: 1434px;
		width: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		gap: 50px;
	}
	&--img {
		position: relative;
		width: 510px;
	}
	&--content {
		position: relative;
		text-align: center;
		color: #fff;
		font-size: 36px;
		width: calc(100% - 510px - 50px);
		left: 64px;

		h2 {
			position: relative;
			font-size: 2em;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 6px;
			line-height: 1.4em;
			font-family: "FatFrank";
			letter-spacing: 0.1em;
		}
		h6 {
			position: relative;
			font-size: 1em;
			line-height: 1.4em;
			font-family: "FatFrank";
			letter-spacing: 0.1em;
			margin-bottom: 45px;
		}
		a {
			position: relative;
			text-decoration: none;
			color: #fff;
			padding: 14px 24px;
			line-height: 1;
			white-space: nowrap;
			font-weight: bold;
			font-size: 20px;
			border: 2px solid #fff;
		}
	}
}

.iList {
	position: relative;
	padding: 0px 0 70px;
	&.bg2 {
		background-color: #111111;
	}
	&--wrap {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 1700px;
		width: 100%;
		&.min {
			max-width: 1440px;
		}
	}
	&--title {
		position: relative;
		color: #fff;
		font-size: 20px;
		font-family: "FatFrank";
		line-height: 1.4em;
		margin-bottom: 1.4em;
		letter-spacing: 0.1em;
	}
	&--main {
		position: relative;
		display: flex;
		justify-content: center;
		--gap: 10px;
		gap: var(--gap);
		--row: 3;

		&.async {
			flex-wrap: wrap;

			--gap: 40px;
		}
		li {
			position: relative;
			width: calc(100% / 4 - var(--gap));
			transition: all 0.3s ease-in-out;
			line-height: 1em;
			display: flex;
			flex-direction: column;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			background-image: url(../../images/bgCard.svg);
			background-size: 200%;
			background-position: center;
			background-repeat: no-repeat;

			* {
				transition: all 0.3s ease-in-out;
			}
			img {
				object-fit: cover;
			}

			// &:hover {
			// 	transition: all 0.3s ease-in-out;
			// 	img {
			// 		transform: scale(1.1);

			// 		transition: all 0.3s ease-in-out;
			// 	}
			// }
		}
	}
	&--btn {
		position: relative;
		margin-top: 20px;
	}
	&--img {
		position: relative;
		width: 100%;
		border-radius: 20px;

		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: -8%;
			left: 17px;
			opacity: 1;
			transition: all 0.3s ease-in-out;
			z-index: 10;
			background-image: url(../../images/shiba.svg);
			background-size: 60px;
			background-position: right top;
			background-repeat: no-repeat;
			pointer-events: none;
		}
		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: -4%;
			left: -10px;
			opacity: 1;
			transition: all 0.3s ease-in-out;
			z-index: 10;
			background-image: url(../../images/non-la.svg);
			background-size: 60px;
			background-position: left top;
			background-repeat: no-repeat;
			pointer-events: none;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: inherit;
		}
		.pin {
			position: absolute;
			left: 50%;
			width: 100%;
			text-align: center;
			transform: translateX(-50%);
			z-index: 10;
			bottom: 0;
			padding-bottom: 10px;
			font-family: var(--font-xk);
			font-size: 30px;
			color: #fff;
			height: 30%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 0 0 20px 20px;
			letter-spacing: 0.2em;
			span {
				z-index: 10;
			}
			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				background: linear-gradient(to top, #000 40%, #00000000);
				left: 0;
				top: 0;
				border-radius: inherit;
				z-index: 0;
			}
		}
	}
	&--name {
		position: relative;
		width: 100%;
		h4 {
			position: relative;
			color: #333;
			text-align: center;
			font-size: 30px;
			text-transform: uppercase;
			line-height: 1.4em;
			font-family: var(--font-xk);
			letter-spacing: 0.1em;
			margin-bottom: 0;
			margin-top: 15px;
		}
		.role {
			position: relative;
			width: 100%;
			text-align: center;
			display: block;
			font-family: var(--font-family);
			color: #717e89;
			font-weight: bold;
			font-size: 18px;
		}
	}
}
.linkfull {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 10;
	cursor: pointer;
	left: 0;
}

.ibtn {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #333;
	background-color: #fff;
	padding: 10px 20px 10px;
	font-size: 16px;
	font-family: "FatFrank";
	line-height: 1em;
}

.iBack {
	position: relative;
	background-color: #7a7231;
	&--wrap {
		position: relative;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: 30px 0;
	}
	a {
		position: relative;
		color: #fff;
		font-family: "FatFrank";
		text-decoration: none;
		font-size: 18px;
		line-height: 1em;
		letter-spacing: 0.1em;
		padding-left: 20px;
		&::before {
			position: absolute;
			content: "";
			border-top: 8px solid transparent;
			border-right: 10px solid #fff;
			border-bottom: 8px solid transparent;
			left: 0;
			top: 2px;
		}
	}
}

.iDetail {
	position: relative;
	background-color: #f6f6f6;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background-image: url(../../images/bgCard.svg);
		background-repeat: no-repeat;
		background-size: cover;
		top: 0;
		left: 0;
		opacity: 0.2;
	}
	&--wrap {
		position: relative;
		display: flex;
		max-width: 1200px;
		--img: 320px;
		gap: 40px;
		padding: 40px 0;
		align-items: center;
	}
	&--img {
		position: relative;
		text-align: center;
		width: 30%;
		border-radius: 100%;
		background-image: url(../../images/bgCard.svg);
		padding: 2px;
		background-size: 200%;
		background-position: center;

		.img {
			position: relative;
			width: 100%;
			aspect-ratio: 1 / 1;
			overflow: hidden;
			border-radius: 100%;
			img {
				max-height: 450px;
				border-radius: inherit;
			}
		}
	}
	&--content {
		position: relative;
		width: 35%;
	}
	&--info {
		position: relative;
		width: 35%;
		&-gender {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
			font-size: 20px;
		}
		&-name {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 30px;
			.firstName {
				position: relative;
				font-size: 1em;
				font-family: var(--font-family);
				color: #bebebe;
				&.ttu {
					text-transform: uppercase;
				}
			}
			.lastName {
				font-size: 2em;
				position: relative;
				text-transform: uppercase;
			}
		}
		&-list {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 20px;

			dl {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 15px;

				dt {
					position: relative;
					font-size: 15px;
					font-family: var(--font-family);
					color: #bebebe;
					text-transform: capitalize;
					span {
						font-size: inherit;
					}
				}
				dd {
					position: relative;
					font-family: var(--font-xk);
					font-size: 30px;
					span {
						font-size: inherit;
					}
				}
				&.group {
					dt,
					dd {
						display: flex;
						gap: 20px;
						white-space: nowrap;
						text-align: center;
						width: 100%;
						justify-content: center;
					}

					span {
						position: relative;
						width: 140px;
					}
					&.col {
						span {
							width: 50%;
						}
					}
				}
			}
		}
	}
	&--date {
		width: 100%;
		position: relative;
		&-main {
			position: relative;
			width: 100%;
			margin-bottom: 20px;
			dl {
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				dt {
					position: relative;
					font-size: 20px;
					color: #717e89;
					font-family: var(--font-family);
				}
				dd {
					position: relative;
					display: flex;
					justify-content: center;
					gap: 10px;
					margin-top: 10px;
					width: 100%;
					span {
						position: relative;
						// width: calc(100% / 3 - 20px);
						border: 1px solid #717e8927;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 5px 10px 5px;
						text-align: center;
						line-height: 1em;
						font-size: 60px;
						font-family: var(--font-xk);
					}
				}
			}
		}
	}
	&--link {
		position: relative;
		padding: 30px 0;
		display: flex;
		gap: 20px;
		justify-content: center;
		background-color: #7a7231;
		li {
			position: relative;
			&::before {
				position: absolute;
				content: "";
				width: 1px;
				height: 100%;
				top: 50%;
				transform: translateY(-50%);
				right: -10px;
				background-color: #fff;
				user-select: none;
				pointer-events: none;
			}
			&:last-child {
				&::before {
					content: none;
				}
			}
		}
		a {
			font-size: 20px;
			font-family: "FatFrank";
			position: relative;
			display: block;
			line-height: 1em;
			text-decoration: none;
			color: #fff;
			letter-spacing: 0.05em;
			&:hover {
				color: #e8da5d;
			}
		}
	}
	&--desc {
		position: relative;
		padding: 50px 0;
		background-color: #111111;
		p {
			color: #fff;
			font-size: 16px;
			margin-bottom: 1.1em;
		}
	}
	&--wrap {
		position: relative;
		max-width: 1440px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	&--racket {
		position: relative;
		background-color: #111111;
		padding: 40px 0;
		h4 {
			position: relative;
			color: #fff;
			font-family: var(--font-xk);
			text-transform: uppercase;
			font-size: 30px;
			text-align: center;
			margin-bottom: 50px;

			span {
				position: relative;
				display: inline-block;
				padding: 0 60px;
				background-image: url(../../images/racket.svg),
					url(../../images/racket.svg);
				background-size: 40px;
				background-position: left center, right center;
				background-repeat: no-repeat;
			}
		}
		&-wrap {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			max-width: 1200px;
		}
		&-list {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;
			li {
				width: calc(100% / 3 - 20px);
				position: relative;
				padding: 20px;
				background-color: #fff;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				gap: 10px;

				.img {
					position: relative;
					border-radius: inherit;
					img {
						border-radius: inherit;
					}
				}
			}
		}
	}
}

.marquee {
	overflow: hidden;
	display: flex;
	background-color: #e8da5d;
	color: #111111;
	gap: 60px;
	padding: 20px 0px;
	span {
		position: relative;
		display: block;
		font-size: 40px;
		text-transform: uppercase;
		font-family: var(--font-xk);
		letter-spacing: 0.04em;
	}
}

.iMember {
	position: relative;
	padding: 40px 15px 0;

	&--h3 {
		position: relative;
		text-align: center;
		font-family: var(--font-xk);
		font-size: 50px;
		text-transform: uppercase;

		display: flex;
		align-items: center;
		justify-content: center;
		span {
			position: relative;
			padding: 0 60px;
			display: inline-block;

			&::before,
			&::after {
				position: absolute;
				content: "";
				top: 0;
				width: 100%;
				height: 100%;
				background-size: 40px;
				background-repeat: no-repeat;
			}
			&::before {
				left: 0;
				background-image: url(../../images/icon-badminton-left.svg);
				background-position: left center;
			}
			&::after {
				right: 0;
				background-image: url(../../images/icon-badminton-right.svg);
				background-position: right center;
			}
		}
	}
}
table {
	font-family: var(--font-xk);
	tr,
	td,
	th {
		border: none;
		font-family: var(--font-family);
	}
	th {
		background-color: #006476;
		color: #fff;
	}
	tr {
		border-bottom: 1px solid #fff;
		&:nth-child(even) {
			background-color: #f2f2f2;
		}
		&:nth-child(odd) {
			background-color: #e3e3e3;
		}
	}
}

.iVideo {
	position: relative;
	padding-bottom: 50px;
	&--wrap {
		position: relative;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	&--list {
		position: relative;
		display: flex;
		gap: 10px;
		flex-direction: column;
		li {
			position: relative;
			--img: 500px;
			display: flex;
			gap: 20px;
			background-color: #fff;
			padding: 10px;

			.thumbnail {
				position: relative;
				width: var(--img);
				aspect-ratio: 16 / 9;
				overflow: hidden;
			}

			.content {
				position: relative;
				width: calc(100% - var(--img) - 20px);
				h5 {
					position: relative;
					font-family: var(--font-xk);
				}
			}
		}
	}
}
