/*==========================================================================*/
/*                              H E A D E R                                 */
/*==========================================================================*/

header {
	// position: relative;
	position: fixed;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 99;
	height: 103px;
}
.iHeader {
	position: relative;
	background-color: #000001;
	display: flex;
	justify-content: space-between;
	height: 100%;
	padding: 10px 50px;
	&--logo {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		img{
			height: 80px;
		}
		.title{
			position: relative;
		
			h1{
				position: relative;
				margin: 0 0;
				font-family: var(--font-xk);
				font-size: 45px;
				color: #fff;
				letter-spacing: 0.04em;
				text-transform: uppercase;
			}
		}
	}
	&--menu {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		gap: 20px;
		a{
				font-family: var(--font-xk);
		}
		ul {
			position: relative;
			display: flex;
			align-items: center;
			gap: 20px;
			li {
				position: relative;

				a {
					position: relative;
					text-transform: uppercase;
					display: inline-block;
					text-decoration: none;
					font-family: var(--font-xk);
					font-weight: 400;
					font-style: normal;
					font-size: 20px;
					color: #fff;
					&:hover{
						color: #e8da5d ;
					}
				}
			}
		}
	}
}

