/*==========================================================================*/
/*                           U T I L I T I E S                              */
/*==========================================================================*/

@for $i from 0 through 50 {
    @if ($i % 5)==0 {
        .mb-#{$i} {
            margin-bottom: calc($i * 1px) !important;
        }
    }
}

@for $i from 0 through 50 {
    @if ($i % 5)==0 {
        .mt-#{$i} {
            margin-top: calc($i * 1px) !important;
        }
    }
}

@for $i from 0 through 50 {
    @if ($i % 5)==0 {
        .ml-#{$i} {
            margin-left: calc($i * 1px) !important;
        }
    }
}

@for $i from 0 through 50 {
    @if ($i % 5)==0 {
        .mr-#{$i} {
            margin-right: calc($i * 1px) !important;
        }
    }
}

@for $i from 0 through 50 {
    @if ($i % 5)==0 {
        .mx-#{$i} {
            margin-left: calc($i * 1px) !important;
            margin-right: calc($i * 1px) !important;
        }
    }
}

@for $i from 0 through 50 {
    @if ($i % 5)==0 {
        .my-#{$i} {
            margin-top: calc($i * 1px) !important;
            margin-bottom: calc($i * 1px) !important;
        }
    }
}

@for $i from 0 through 50 {
    @if ($i % 5)==0 {
        .w#{$i} {
            width: calc($i * 1%);
        }
    }
}

#menu-toggle {
    @include size(40px);
    --h-nav: 3px;
    --cl-nav: var(--color-primary);
    position: relative;
    z-index: 100;
    cursor: pointer;
    transition: all .5s cubic-bezier(.7, 0, .3, 1);

    &>span {
        display: block;
        position: relative;
        @include size(80%, var(--h-nav));
        background: var(--cl-nav);
        opacity: 1;
        left: 10%;
        top: 50%;
        border-radius: 2px;
        transform: rotate(0deg);
        transition: all .3s cubic-bezier(.7, 0, .3, 1);

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: var(--h-nav);
            background-color: var(--cl-nav);
            transition: all .3s cubic-bezier(.7, 0, .3, 1);
            left: 0;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }

    &.open {
        transform: rotate(90deg);

        &>span {
            background-color: transparent !important;

            &::before,
            &::after {
                top: 0;
            }

            &::before {
                transform: translateY(0)rotate(-45deg);
            }

            &::after {
                transform: translateY(0)rotate(45deg);
            }
        }
    }
}

.to-top {
    position: fixed;
    right: 0;
    bottom: 0;
    transition: all 0.2s;
    transform-origin: 50% 100%;
    opacity: 0;
    visibility: hidden;

    &>a {
        display: block;
        cursor: pointer;
        @include size(60px);
        background: var(--color-primary);
        border-radius: 0px;
        text-decoration: none;

        &:before {
            --size: 14px;
            @include pseudo;
            @include size(var(--size));
            border-top: solid 3px #fff;
            border-right: solid 3px #fff;
            transform: rotateZ(-45deg);
            left: calc(50% - var(--size) / 2);
            top: calc(56% - var(--size) / 2);
        }
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.text-large {
    font-size: 130%;
}

.text-small {
    font-size: 80%;
}

.text-red {
    color: #f00;
}

img {
    &.alignleft {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &.alignright {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.tab-content {
    display: none;

    &.active {
        display: block;
    }
}

[data-tab],
.accordion-button {
    cursor: pointer;
}