/*==========================================================================*/
/*                           U T I L I T I E S                              */
/*==========================================================================*/

.image-l {
    float: left;
    margin: 0 60px 20px 0;
}

.image-r {
    float: right;
    margin: 0 0 20px 60px;
}

section {
    margin-bottom: 70px;
}

section section {
    margin-bottom: 30px;
}

section:last-child {
    margin-bottom: 0;
}

table {
    margin-bottom: 30px;
}

table:last-child {
    margin-bottom: 0;
}

.wp-pagenavi,
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

    span,
    a {
        display: inline-flex;
        min-width: 34px;
        height: 34px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        line-height: 1em;
        padding: 3px 5px 5px;
        font-weight: 600;
        background: #b5b5b5;
        text-decoration: none;
        margin: 5px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: none;
        &.current {
            background: var(--color-primary);
            padding-top: 6px;
        }
        &.prev,
        &.next {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

#topic_path {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 17px 0;
    li {
        display: inline;
        font-size: 15px;
        &:not(:last-child) {
            --arrow-height: 6px;
            padding-right: 15px;
            margin-right: var(--arrow-height);
            position: relative;
            &:before {
                content: "";
                @include arrow(var(--body-color), 8px, var(--arrow-height), right);
                position: absolute;
                right: -1px;
                top: calc(50% - var(--arrow-height) / 2);
            }
        }
    }
    a {
        font-weight: 500;
    }
}